html {
	scroll-behavior: smooth; 
}
.flex_conts {
	margin: 30px;
	display: flex;
	flex-direction: column;
	padding: 50px;
	background-color: aliceblue;
}
.flex_conts h6 {
	color: black;
}
.flex_conts ul {
	list-style: square;
}
.flex_comp {
	margin: auto;
	width: 70%;
	display: flex;
	flex-direction: row;
	padding: 5vh;
	height: auto;
}
.the_content {
	flex: 70%;
}
.the_img {
	width: 30%;
	margin: auto;
}
.the_img img {
	height: 25vh;
	width: 20vw;
}